h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
    font-family: inherit
    line-height: 1
    color: rgb(51, 51, 51)
    font-weight: 300
    padding: 0
    margin: 0

p
    font-size: 1rem
    line-height: 1.7rem

blockquote, .highlight, .notice, .warning, p
    margin: 10px 0 14px

h1
    font-size: 38px
    margin-bottom: 12px
    border-bottom: 1px solid rgb( 229, 229, 229)
    width: 460px

h2
    margin-top: 55px
    margin-bottom: 28px
    font-size: 30px

h3
    font-size: 24px
    margin-top: 45px
    margin-bottom: 25px

h4
    font-size: 20px
    color: #333
    font-weight: 300
    margin-top: 35px
    margin-bottom: 20px

th
    border-bottom: 1px solid #e5e5e5
    background-color: #f5f5f5

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo
    color: #d81060

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata
    color: #329114

pre .keyword, pre .javascript .function
    color: #9c27b0

.btn
    padding: 0
    display: inline-block
    width: 160px
    height: 36px
    color: #fff
    text-align: center
    line-height: 34px
    border-radius: 3px
    background-color: #e6501e
    border: 1px solid #cd461e
    text-decoration: none
    &:focus
        outline: none
      
.btn-org-empty 
    background-color: transparent
    color: #e6501e
    border-color: #e6501e
    text-decoration: none
    &:hover
        background-color: #f5c3af
    &:active
        background-color: #f0a082
      
.btn-org-full 
    color: #fff
    background-color: #e6501e
    border-color: #cd461e
    &:hover
        background-color: #eb734b
        border-color: #dc5528
    &:active
        background-color: #f0916e
        border-color: #e67855
        
.btn-gray
    background-color: transparent
    color:#666
    border-color: #999
    &:hover
        background-color: transparent
        color:#414141
        border-color: #666
    &:active
        border-color: #666
        background-color: transparent   
