header-padding-normal = 10px
header-padding-max = 30px
logo-size = 48px

.pull-left
  float: left

.col-sm-6
  float: left
  width: 50%

.col-sm-12
  float: left
  width: 100%

.text-center
  text-align: center

.pull-right
  float: right

#header
  position: fixed
  left: 0
  top: 0
  z-index: 10000
  padding-top: 20px
  width: 100%
  max-width: 100%
  background-color: #fff
  box-shadow: 0 2px 10px #eee
  @media print
    display: none

#header-inner
  position: relative
  margin: 0 auto
  padding: 0
  padding-right: 10px
  max-width: max-width

#logo-wrap
  float: left
  width: auto
  border: 0

#logo
  hide-text()
  background: url("/images/logo.svg")
  background-size: contain
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: block

#main-nav
  display: none
  float: left
  position: relative
  top: 10px
  padding-left: 114px
  @media mq-normal
    display: block

.main-nav-link
  display: inline-block
  color: #333
  text-decoration: none
  line-height: 26px
  padding-bottom: 0
  transition: 0.2s
  border-bottom: 2px solid #fff
  font-size: 15px
  display: inline-block
  margin-left: 40px
  transition: 0.3s
  &:hover
    color: #e6501e
    padding-bottom: 22px
    border-bottom-color: #e6501e
  &.current
    color: #e6501e
    padding-bottom: 22px
    border-bottom-color: #e6501e

#lang-select-wrap
  display: none
  position: relative
  @media mq-normal
    display: block

#lang-select-label
  color: #fff
  opacity: 0.7
  
  line-height: logo-size
  span
    padding-left: 8px
  i
    opacity: 0.7

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit

.searchbar
  position: relative
  float: left
  margin-left: 100px
  margin-top: 15px
  padding-right: 20px
  width: 70px
  line-height: 1
  font-size: 0
  border-right: 1px solid #ccc
  cursor: pointer
  .search-icon
    box-shadow: none
    border: 0
  .serach-placeholder
    position: absolute
    top: 0
    left: 20px
    white-space: nowrap
    font-size: 15px

.searchbar-inputting
  position: absolute
  z-index: 9
  left: 180px
  padding-left: 20px
  width: 920px
  height: 50px
  background-color: #fff
  transform-origin: 85% 50%
  transform: scale(0, 0)
  transition: 0.3s
  &.searchShow
    transform: scale(1, 1)
  .search-tips
    position: absolute
    top: 16px
    left: 20px
  .search-input
    padding-left: 20px
    width: 100%
    height: 100%
    font-size: 16px
    &:focus
      outline: none
  .search-icon
    width: 17px
    height: 17px
    box-shadow: none
    border: 0
  .serach-placeholder
    display: none
  .close-search
    position: absolute
    right: 0
    top: 50%
    margin-top: -7px
    width: 14px
    height: 14px
    cursor: pointer
    img
      box-shadow: none
      border: 0

.fadeHide
  opacity: 0;
  visibility: hidden

.header-user
  position: relative
  top: 16px
  margin: 0
  display: none

.login
  color: #666
  text-decoration: none
    
.login:hover
  color: #e6501e

.register
  margin-top: -6px
  margin-left: 22px
  width: 90px
  height: 30px
  line-height: 28px
  padding-left: 2px
  position: relative
  top: -3px

.user-email
  float: left
  margin-left: 6px
  margin-top: 4px
  line-height: 1.2
  width: 120px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  letter-spacing: 0
  vertical-align: middle

.header-info
  .arr-down:before
    vertical-align: middle

.header
  position: relative
  padding-top: 14px
  font-size: 13px
  background-color: #fff
  z-index: 9999

.header-logo,
.menu-item,
.header-login
  float: left

.header-logo
  padding-left: 1px;

.header-info
  position: relative
  top: 10px
  padding-bottom: 12px
  letter-spacing: 0
  cursor: pointer
  display: none

.drop-menu
  position: absolute
  right: -20px
  top: 30px
  padding: 10px
  padding-bottom: 0
  width: 260px
  height: 240px
  border: 1px solid #e5e5e5
  background-color: #fcfcfc
  border-radius: 3px
  box-shadow: 0 4px 8px #eee
  visibility: hidden
  opacity: 0
  transform: translateY(-20px)
  transition: all 0.1s

.profile-avatar
  border-radius: 100%
  box-shadow: none  

.header-info:hover
  .drop-menu
    visibility: visible
    opacity: 1
    transform: none

.drop-menu-item
  line-height: 1

.header-item-link
  display: block
  color: #333
  font-size: 12px
  text-decoration: none

.header-item-icon
  padding-bottom: 8px
  display: block
  font-size: 24px

.header-item-profile
  padding-top: 14px
  padding-bottom: 24px
  padding-right: 30px
  border-right: 1px solid #e5e5e5
  border-bottom: 1px solid #e5e5e5

.header-item-confirm
  padding-top: 14px
  padding-bottom: 24px
  padding-left: 30px
  border-bottom: 1px solid #e5e5e5

.header-item-doc 
  padding-top: 24px
  padding-bottom: 16px
  padding-right: 30px
  border-right: 1px solid #e5e5e5

.header-item-service
  padding-top: 24px
  padding-bottom: 16px
  padding-left: 30px

.logout
  margin-top: 10px
  border-top: 1px solid #e5e5e5

.logout
  .header-item-link
    display: block
    padding-top: 14px
    padding-bottom: 10px
    color: #999

.header-item-link:hover
  color: #e6501e
  svg
    fill: #e6501e

.justify-side
  display: inline-block
  padding-left: 100%

.menu-ctrl
  position: fixed
  right: 20px
  top: 23px
  z-index: 999
  width: 42px
  height: 28px
  display: none

.menu-ctrl-line
  position: absolute
  width: 22px
  height: 2px
  right: 0
  background-color: #ccc
  -webkit-transition: all 0.5s
  -o-transition: all 0.5s
  transition: all 0.5s

.menu-ctrl-line-t
  top: 5px

.menu-ctrl-line-m
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  transform: translateY(-50%)

.menu-ctrl-line-b
  bottom: 5px

.menu-ctrl-on
  .menu-ctrl-line-t
    -webkit-transform-origin: 100% 50%
    -ms-transform-origin: 100% 50%
    -o-transform-origin: 100% 50%
    transform-origin: 100% 50%
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)

.menu-ctrl-on
  .menu-ctrl-line-b
    -webkit-transform-origin: 100% 50%
    -ms-transform-origin: 100% 50%
    -o-transform-origin: 100% 50%
    transform-origin: 100% 50%
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)

.menu-ctrl-on
  .menu-ctrl-line-m
    opacity: 0

.nav-item
  position: relative

.feature-links
  position: absolute
  top: 100%
  left: 50%
  margin-left: -80px
  padding-left: 6px
  padding-right: 6px
  border: 1px solid #f5f5f5
  box-shadow: 0 2px 10px #ddd
  width: 160px
  background-color: #fff
  font-size: 12px
  letter-spacing: 0
  display: none

.feature-links:after
  content: ''
  position: absolute
  top: 0
  left: 50%
  margin-left: -5px
  margin-top: -5px
  width: 10px
  height: 10px
  transform: rotate(-45deg)
  background-color: #fff
  box-shadow: 3px -3px 8px #ddd

.feature-links
  .tab
    display: block
    color: #666
    line-height: 1
    padding-top: 16px
    padding-left: 16px
    padding-bottom: 16px

.tab:hover
  color: #e6501e

.tab-line
  border-bottom: 1px solid #e5e5e5

.nav-item:hover
  .feature-links
    display: block

.feature-links
  .preview
    position: relative
    top: -12px
    margin-left: 3px
  
.mask
  position: fixed
  left: 0
  top: 0
  z-index: 9999
  width: 100%
  height: 100%
  background-color: rgba(0, 15, 50, .1)
  transition: 0.3s