#sidebar
  position: fixed
  top: 72px
  z-index: 1000
  width: 170px
  height: 100%
  float: left
  padding-left: 20px
  padding-top: 70px
  padding-bottom: 140px
  margin-left: -200px
  font-size: 13px
  display: none
  @media mq-normal
    display: block
  .inner
    padding-left: 5px
    padding-right: 10px
    height: 100%
    overflow: auto

.sidebar-title
  font-size: 14px
  color: #333
  display: inline-block
  line-height: 1

.sidebar-nav .sidebar-title
  display: inline-block
  padding-right: 12px
  margin-bottom: 6px
  position: relative
  cursor: pointer
  &.current
    color: #e6501e
  &.select
    &:after
      top: 5px
      transform: none
  &:after
      content: ''
      position: absolute
      top: 3px
      right: 0
      width: 0
      height: 2px
      border: 4px solid transparent
      border-top-color: #666
      transform: rotate(-90deg)

.sublist-item .sidebar-title
  color: #666
  margin-bottom: 0
  &.select
    margin-bottom: 6px

.sidebar-nav-item 
  padding-bottom: 16px

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  line-height: 1.5
  font-size: 14px
  position: relative
  width: 100%
  &.current
    color: #e6501e
  &:hover
    color: #e6501e

.sublist 
  height: 0
  overflow: hidden
  transform-origin: 0 0
  transform: scale(1, 0)
  transition: 0.2s
  border-left: 2px solid #eee
  &.current
    transform: none
    height: auto

.sublist-item
  padding-top: 7px
  padding-bottom: 7px
  padding-left : 1em