@media screen and (max-width: 1000px) {
    .header-user{
        display: none!important;
    }
    .searchbar{
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    *{
        padding: 0;
        margin: 0;
        word-break:break-all;
        /* line-height: 1.7; */
    }
    img {
        max-width: 100%;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px;
        line-height: 1.7;
    }
    h4{
        font-size: 16px;
    }
    .article-content table{
        width: 100%;
        overflow-y: auto;
        _overflow: auto;
        margin: 0 0 1em;
        table-layout:fixed;
    }
    tr,th{
        word-wrap:break-word;
    }
    blockquote, .highlight, .notice, .warning, p {
        text-align: justify;
    }
    .highlight.js{
        background: #f6f6f6;
    }
    #container{
        padding: 0 20px;
        overflow: visible;
        min-height: initial;
    }
    #header{
        padding: 0!important;
    }
    #header-inner{
        max-width: 100%!important;
        padding: 0!important;
    }
    #logo{
        margin: 12px 0 20px 20px!important;
    }
    #logo-wrap{
        margin: 0;
        width: 100%!important;
        height: 72px;
        -webkit-box-shadow: 0 0.214286rem 0.714286rem #eee;
        box-shadow: 0 0.214286rem 0.714286rem #eee;
        position: relative;
        padding-bottom: 9px;
    }
    #main-nav{
        padding: 0!important;
        margin-right: 2.857143rem!important;
        height: 100%;
        top: 0;
    }
    #main-nav a{
        height: 5rem;
        width: 98%;
        padding: 0!important;
        margin: 0!important;
        line-height: 5rem!important;
        margin-left: 20px!important;
        border: none;
    }
    #main-nav a:not(:last-child){
        border-bottom: 1px solid #efefef;
    }
    .menu-ctrl {
        right: 20px!important;
        top: 23px!important;
        display: block!important;
        z-index: 5;
    }
    #main-nav a:hover{
        color: #e74f1e;
        border-bottom-color:0!important;
    }
    .main-nav-link.current {
        color: #e6501e;
        padding-bottom: 22px;
        border-bottom: 0;
    }
    #header-inner > div.searchbar{
        position: absolute !important;
        top: 0;
        right: 60px;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        width: 70px ;
        height: 72px!important;
        line-height: 102px!important;
        border: none!important;
    }
    .searchbar .search-tips{
        width: 72px;
        height: inherit;
        position: absolute;
        right: 0;
    }
    .searchbar .search-tips img{
        position: absolute;
        top: 53%;
        left: 70%;
        transform: translate(-50%,-50%);
        opacity: .5;
    }
    .serach-placeholder{
        display: none;
    }
    .searchbar-inputting{
        height: 72px!important;
        top: 0px;
        width: 100%!important;
        left: 0!important;
    }
    .searchbar-inputting .close-search{
        top: 10px;
        width: 70px;
        height: 70px;
    }
    .searchbar-inputting .close-search img{
        position: absolute;
        top: 50%;
        right: 23%;
        transform: translate(-50%,-50%);
    }
    .searchbar-inputting .search-tips{
        /* display: none!important; */
        top: 27px;
    }
    .search-icon{
        width: 18px;
        height: 18px;
    }
    .search-header{
        border: none;
        padding-top: 140px;
    }
    .header-user{
        display: none !important;
    }
    #content{
        padding-top: 5rem;
    }
    #content-inner > article > div > div{
        padding: 0;
        margin-top: 74px;
    }
    .article-title{
        max-width: 100%!important;
        width: 100%;
    }

    #mobile-nav-dimmer{
        max-width: 100%!important;
        display: none!important;
    }
    .feed-back{
        display: none!important;
    }
    .novice {
        display: none!important;
    }
    .mask{
        z-index: 1999;
    }
    #sidebar {
        margin: 0;
        padding: 0;
        display: block;
        top: 72px;
        width: 100%;
        overflow: hidden;
        left: 0px;
        background-color: #fff;
        /* border-bottom: 2px solid #e5e5e5 !important; */
    }
    #sidebar > div.outer{
        display: none;
    }
    #sidebar > div.inner{
        height: 83px;
        line-height: 72px;
        padding: 0;
        overflow-y: hidden;
        position: relative;
    }
    #sidebar > div.inner > ul{
        height: 72px;
        line-height: 72px;
        padding: 0;
        -webkit-overflow-scrolling: touch;
        border-bottom: 2px solid #e5e5e5 !important;
        min-width: 100%;
    }

    #sidebar > div.inner > ul > li{
        display: inline-block;
        padding: 0 20px;
        height: 45px;
        border-bottom: 2px solid #e5e5e5;
    }
    #sidebar > div.inner > ul > li > strong{
        display: block;
        height: 45px;
        border-bottom: none;
        font-weight: 500;
        text-align: left;
    }
    #sidebar > div.inner > ul > li > strong.select{
        border-bottom: 2px solid #e6501e;
        color: #e6501e;
    }
    #sidebar > div.inner > ul > li > ul{
        position: fixed;
        width: 100%;
        background-color: #f5f5f5;
        border-left: none;
        margin: 0;
        padding: 20px;
        margin-left: -20px;
        left: 40px;
    }
    #sidebar > div.inner > ul > li > ul > li{
        padding-left: 0;
    }
    #sidebar > div.inner > ul > li.sidebar-nav-item.sidebar-nav-item-show > ul > li{
        padding: 0;
        margin: 0;
        font-weight: 400;
    }
    .back-top-content{
        padding: 0 2.857143rem!important;
    }
    .back-top-content .back-top{
        z-index: 10;
        width: 45px;
        height: 45px;
    }
    .article-footer{
        margin-bottom: 100px;
    }

    .issidebar{
        position: static!important;
        margin: 0 -20px 40px -20px!important;
        background-color: #f5f5f5!important;
        top: 245px!important;
        /* padding: 20px 0!important; */
        padding-top: 5px;
        height: 100%;
    }
    #sidebar.issidebar div.inner{
        background-color: #f5f5f5;
        margin-right: 0px;
        height: initial;
        line-height: initial;
    }
    #sidebar.issidebar div.inner > ul{
        width: 100%;
        height: initial;
        line-height: initial;

    }
    #sidebar.issidebar div.inner > ul li{
        display: block;
        height: initial;
        border-bottom: 0;
        padding-top: 7px;
    }
    #sidebar.issidebar > div.inner > ul > li > ul{
        position: absolute;
        font-weight: 400;
    }
    #sidebar.issidebar > div.inner > ul > li > strong{
        height: 40px;
        line-height: 40px;
    }
    #sidebar.issidebar > div.inner > ul > li > strong.select{
        border: none;
        line-height: 40px;
    }
    #sidebar.issidebar > div.inner > ul > li > ul{
        padding: 0;
        margin: 0;
        height: initial;
        line-height: 3;
        padding-left: 10px;
        position: static;
    }
    #sidebar.issidebar > div.inner > ul > li > ul > li{
        height: 40px;
        line-height: 40px;
    }
    .sublist-item{
        padding: 5px 0 0 0;
    }
    .console{
        display: none;
    }
    #content-inner > article > div > div > div.inner{
        margin-top: 40px;
    }
    #sidebar.issidebar > div.inner > ul > li > strong > a{
        line-height: initial;
        display: inline-block;
        line-height: initial;
        color: #333333;
    }
    #content-inner > article > div > div > div#dv ul{
        border: none;
        transition: all .8s;
    }
    #content-inner > article > div > div > div#dv ul li{
        padding: 0;
        margin: 0;
        position: relative;
        font-weight: 400;
        line-height: 3;
    }
    #content-inner > article > div > div > div#dv ul strong{
        padding: 0;
        margin: 0;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #dv > ul > li  strong{
        color: #000;
        font-weight: 400;
    }
    #dv > ul > li  a{
        color: #000;
        font-weight: 400!important;
    }
    #sidebar > div.inner > ul > li.sidebar-nav-item > .sidebar-title{
        font-weight: 600;
        font-size: 16px;
        padding-right: 0;
    }
    #sidebar > div.inner > .sidebar-nav.show-title > li > strong{
        font-weight: 500;
        font-size: 14px;
    }
    #content-inner > article > div > div > div#dv ul strong:after{
        content: ' ';
        position: absolute;
        right: 0px;
        top: 17px;
        width: 16px;
        height: 8.47px;
        background: url(https://css.wdstatic.cn/www-nd/images/index/drop-down.ff929b03.svg) 100% 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
        border-radius: 5px;
    }
    #content-inner > article > div > div > div#dv ul strong.select:after{
        content: ' ';
        position: absolute;
        top: 17px;
        right: 0px;
        width: 16px;
        height: 8.47px;
        border-radius: 5px;
        background: url(https://css.wdstatic.cn/www-nd/images/index/drop-down.ff929b03.svg);
        -webkit-background-size: 100%;
        background-size: 100%;
        transform: rotate(-180deg);
    }
    #sidebar > div.inner > ul > li.sidebar-nav-item > strong:after{
        border: none;
    }

    .dv #sidebar > div.inner > ul > li > strong:after{
        content: "";
        margin-top: 7px;
        width: 16px;
        height: 8.47px;
        background: url(https://css.wdstatic.cn/www-nd/images/index/drop-down.ff929b03.svg);
        -webkit-background-size: 100%;
        background-size: 100%;
        transform: rotate(0deg);
        border-radius: 5px;
    }
    .dv #sidebar > div.inner > ul > li > strong.select:after{
        content: "";
        width: 16px;
        height: 8.47px;
        background: url(https://css.wdstatic.cn/www-nd/images/index/drop-down.ff929b03.svg);
        -webkit-background-size: 100%;
        background-size: 100%;
        transform: rotate(-180deg);
        border-radius: 5px;
    }
    #content-inner > article > div > div > div#dv > ul{
        margin:20px 0;
    }
    #content-inner > article > div > div > div#dv > ul ul{
        margin-left: 10px;
    }
    #content-inner > article > div > div > div#dv > ul li > a,div.dv > ul li strong{
        /* height: 40px; */
        border: none;
        font-weight: 400;
        line-height: 3;

    }
    #content-inner > article > div > div > div#dv > ul{
        margin: 0px -20px;
        padding: 20px 20px;
        background-color: #f5f5f5;
    }
    .scale-failed {
        top: 45%;
        left: 53%;
        width: 100px;
        height: 100px;
    }

    #content-inner > article > div > div > div.inner > header > h1{
        line-height: 1.5;
    }
    #header-inner > div.searchbar-inputting.searchShow > input{
        padding-left: 20px;
    }
    .sidebar-nav .sidebar-title.current {
        color: #333;
    }
    .searchbar-inputting.searchShow{
        border-bottom: 2px solid #e5e5e5;
    }
    .sidebar-nav-item{
        text-align: center;
    }
    #header-inner > div.searchbar-inputting.searchShow > form{
        width: 100%;
        height: 100%;
    }

    .dv .console {
        display: block;
        margin: 0 -20px;
        padding: 10px 0px;
        width: 100%;
        background-color: #f5f5f5;
    }

    .dv .console a{
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
    }

    #sidebar.issidebar .console {
        margin: 0;
        padding: 0;
        border: 0;
        padding-left: 20px;
        display: block;
        height: 50px;
        line-height: 50px;
        /* border-bottom: 1px solid #e5e5e5 !important; */
        position: static;
        font-weight: 500;
        font-size: 14px;
    }
    #sidebar.issidebar .console a {
        margin: 0;
        padding: 0;
    }
    #content-inner > div > div > div.search-header{
        padding-top: 60px;
    }
    .edit-doc-source{
        display: none;
    }
    .search-tips-text.search-failed-text {
        line-height: 1.5;
    }
    #content-inner > article > div > div > div.inner > header > h1{
        line-height: 1.7;
    }
    .page-title{
        width: 140px;
    }
    .header-info.pull-right{
        display: none!important;
    }
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
input[type="search" i] {
    -webkit-appearance: textfield;
}
form{
    width: 100%;
    height: 100%;
}

